version: '3'

services:
  go-devcontainer:
    image: google85/vscode-devcontainer-go:1.21.0
    hostname: go-devcontainer
    working_dir: /usr/src/app
    environment:
      - TZ=Europe/Bucharest
      - GOPATH=/go
    volumes:
      - ..:/usr/src/app
    extra_hosts:
      - "host.docker.internal:host-gateway"
    tty: true # very important
