version: '3'

services:
  go-devcontainer:
    build:
      context: "."
      dockerfile: Dockerfile
      args:
        GO_VERSION: '${GO_VERSION:-1.19.0}'
        USERNAME: '${USERNAME:-vscode}'
        USER_UID: '1000'
        USER_GID: '1000'
    hostname: go-devcontainer
    working_dir: /usr/src/app
#    env_file:
#      - ../.env
    environment:
      - TZ=Europe/Bucharest
      - GOPATH=/go
    volumes:
      - ..:/usr/src/app
    extra_hosts:
      - "host.docker.internal:host-gateway"
    tty: true # very important
