version: '3'

services:
  go-devcontainer:
    build:
      context: "."
      dockerfile: Dockerfile
    hostname: go-devcontainer
    working_dir: /usr/src/app
#    env_file:
#      - ../.env
    environment:
      - TZ=Europe/Bucharest
      - GOPATH=/go
    volumes:
      - ..:/usr/src/app
    extra_hosts:
      - "host.docker.internal:host-gateway"
    tty: true # very important
